<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Salut {{name}},</p>
        <p>Vos données (OTP et lien) pour la confirmer et activer votre compte.</p>
        <p> Svp, copiez le otp pour activer votre compte ou bien cliquez sur le lien</p>
        {{!-- <p>Code OTP:<strong> {{otp}} </strong> </p> --}}
        <p>Lien d'activation: {{link}} </p>
        <br>
        <a href="{{link}}">Clicker pour activer votre compte</a> </p> 
    </body>
</html>
